{% extends 'tareas/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}Energizantes{% endblock %}
</head>

<body>
    {% block content %}
    <!-- Tarjetas de Energizantes -->
    <section class="category_container">

        <div class="category_cards-container">
            <div class="category_cards-title">
                <h2>Energizantes</h2>
            </div>
        </div>

        <div class="category_cards">
            {% for producto in productos %}
            <article class="card">
                <a href="#">
                    <img src="{% static producto.imagen %}" alt="{{ producto.alt }}" class="card-img">
                    <h4>{{ producto.nombre }}</h4>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>
    {% endblock %}
</body>

</html>