@import url(styles.css);

.banner-descarga-custom {
  background: url('../fondo/fondo-botellas.png') repeat;
  background-size: 50% contain;
  background-color: var(--black);
  color: var(--primary);
  padding: 30px 0;
  text-align: center;
}

.banner-descarga-custom h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-descarga-custom span {
  display: block;
  margin-top: 5px;
}

.btn-descargar {
  background-color: var(--primary);
  color: var(--black);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
}

.btn-descargar:hover {
  background-color: var(--yellow);
}

